<?php

namespace App\Traits;

use App\User;
use Illuminate\Database\Eloquent\Model;

trait BlamableTrait
{
    public static function bootBlamableTrait()
    {
        static::creating(function (Model $model){
            if(auth()->check()){
                $user = auth()->user();
            }else{
                $user = User::where('email','hafijul233@gmail.com')->first();
            }
            $model->created_by = isset($user)?$user->id:1;
        });

        static::updating(function (Model $model) {
            if(auth()->check()){
                $user = auth()->user()->id;
            }else{
                $user = User::where('email','hafijul233@gmail.com')->first()->id;
            }
            $model->updated_by = isset($user)?$user:1;
        });

        static::deleting(function (Model $model) {
            if(auth()->check()){
                $user = auth()->user()->id;
            }else{
                $user = User::where('email','hafijul233@gmail.com')->first()->id;
            }
            $model->deleted_by = isset($user)?$user:1;
        });
    }
}
